// 图片截取第一张
var oneImg = function (str, param = ";") {
  var arr = str.split(param);
  return arr[0]
}

// 解析时间戳年
function time(milliseconds) {
  var now = getDate()
  if (((now.getTime() - milliseconds) / 1000) < 3600) {
    return Math.floor(((now.getTime() - milliseconds) / 1000) / 60) + "分钟前"
  }

  if (((now.getTime() - milliseconds) / 1000) < 86400) {
    return Math.floor(((now.getTime() - milliseconds) / 1000) / 3600) + "小时前"
  }

  var date = getDate(milliseconds)
  Y = date.getFullYear()
  m = date.getMonth() + 1
  d = date.getDate()
  return Y + "." + m + "." + d
}

// 字符串限制长度
var strHid = function (str, length = 6) {
  var ret = str.substring(0, length)
  if (str.length > length) {
    ret += "..."
  }
  return ret
}

module.exports = {
  oneImg: oneImg,
  time: time,
  strHid: strHid
}